@use "sass:map";

@use "@baklavajs/themes/dist/classic.css";
@use 'vuetify/lib/styles/main.sass' as v;

$color-primary: var(--v-primary-base);
$color-node-background: var(--v-nodes-lighten3);
$color-pattern-default: map.get(v.$shades, "white");
$color-pattern-line: map.get(v.$blue-grey, "lighten-5");
$color-pattern-black: map.get(v.$blue-grey, "lighten-5");
$color-control-dark-background: var(--v-nodes-lighten1);
$color-node-title-background: var(--v-nodes-base);
$color-connection-default: var(--v-nodes-lighten3);
$color-sidebar-background: var(--v-nodes-lighten1);
$border-radius-control: 5px;
$border-radius-node: 7px;
$color-node-selected: var(--v-primary-lighten1);

.dark-select {
    &>.__dropdown {
            background: var(--v-nodes-base);
    }
}
.node {
    &.--selected {
        box-shadow: 0 0 0 2px $color-node-selected;
    }
}